html
  --base-font-size 20px

body
  --bg-color #0A0908
  --bg-content-color #2a2828
  --title-color #fff
  --body-color #fff
  --primary-color #ffe600
  --secondary-color #FF680A
  --tertiary-color #83430C
  --disabled-color #888
  --radius 6px
  --space 3.5rem
  --header-height 80px
  --content-width 860px
  --transition-fast 0.2s
  --transition-normal 0.4s
  --transition-slow 0.6s
  --bg-code rgba(0, 0, 0, 0.3)
  --border-color rgba(255, 255, 255, 0.1)

@media screen and (max-width 650px)
  html
    --base-font-size 17px

  body
    --space 1.5rem
    --header-height 60px
